@media (min-width: 1024px) {
    .main {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 500px;
        justify-content: center;
        justify-self: center;
    }
    
    .main pi-canvas {
        position: relative;
        display: flex;
        align-self: center;
        height: 350px;
        width: 350px;
        transition: transform 0.25s ease;
    }

    .main pi-canvas:hover {
        transform: scale(1.05);
    }

    .main pi-canvas:active {
        transform: scale(0.75);
    }
}