:root {
    --primary-background-color: hsl(240, 8%, 8%);

    --tooltip-background-color: hsla(220, 68%, 49%, 0.5);
    --tooltip-background-pattern-color: hsla(220, 71%, 46%, 0.5);
    --tooltip-background-border-color: hsla(210, 75%, 52%, 0.829);

    --tooltip-background-color-warning: hsla(34, 68%, 49%, 0.5);
    --tooltip-background-pattern-color-warning: hsla(34, 71%, 46%, 0.5);
    --tooltip-background-border-color-warning: hsla(32, 75%, 52%, 0.829);

    --tooltip-background-color-error: hsla(0, 68%, 49%, 0.5);
    --tooltip-background-pattern-color-error: hsla(0, 71%, 46%, 0.5);
    --tooltip-background-border-color-error: hsla(0, 75%, 52%, 0.829);

    --primary-exit-button-color: hsl(205, 83%, 46%);
    --secondary-exit-button-color: hsl(205, 83%, 60%);
    --primary-exit-button-pattern-color: hsla(205, 83%, 56%, 0.8);
    --primary-exit-button-radial-gradient-color: hsl(258, 100%, 67%);
}

body {
    background-color: var(--primary-background-color); 
    margin: 10px;
}

.lightfont {
    font-family: 'JetMono-Light';
    margin: 0;
}

.lightfontitalic {
    font-family: 'JetMono-LightItalic';
    margin: 0;
}

.mediumfont {
    font-family: 'JetMono-Medium';
    margin: 0;
}

.mediumfontitalic {
    font-family: 'JetMono-MediumItalic';
    margin: 0;
}

.text-gradient {
        background-color: #cc00ff;
        background: linear-gradient(0deg, rgba(99, 182, 238, 0) 0px, rgb(255, 255, 255), rgb(123, 171, 243));
        background-clip: text;
        color: transparent;
}

.text-outline {
    text-shadow: 2px 2px 2px black, 2px 2px 4px black, -1px -1.5px 1px #00000049;
}

p {
    color: white;
    font-family: monospace;
    font-size: 1.3em;
    user-select: none;
}

svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none; /* Chrome, Safari, Opera */
    -khtml-user-drag: none;  /* Konqueror */
    -moz-user-drag: none;    /* Firefox (partial support) */
    -o-user-drag: none;      /* Old Opera */
}

svg.drop-shadow {
    filter: drop-shadow(2px 2px 1px black) drop-shadow(2px 2px 3px black);
}

.currency-icon {
    display: flex;
    justify-content: center;
    height: calc(100% + 2px);
}

.u-currency-icon {
    display: flex;
    justify-content: center;
    height: calc(100% + 13px);
}

.b-template {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.b-template button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.825);
}

.b-template button-container:hover {
    transform: scale(1.05);
}

.b-template button-container:active  {
    transform: scale(0.75);
}

.b-template exit-button-square {
    position: relative;
    display: flex;
    border: none;
    overflow: visible;
    align-items: center;
    justify-content: center;
    word-spacing: -9px;
    color: white;
    background:  
    radial-gradient(ellipse, transparent, hsl(0, 100%, 75%) 40px),
    hsl(0, 79%, 45%) repeating-linear-gradient(45deg, transparent, transparent 5px,
    hsl(0, 81%, 51%) 5px, 
    hsl(0, 81%, 51%) 10px);
    background-clip: padding-box;
    border-radius: 15px;
    corner-shape: Round;
    padding: 5px 5px;
    font-size: 1.25em;
    height: 35px;
    aspect-ratio: 1;
    text-decoration: none;
    user-select: none;
    transition: all 0.5s ease;
}

.b-template exit-button-square::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1px;
    border-radius: 16px;
    background-image: linear-gradient(-45deg, 
    #970000, 
    #ff0000a8, 
    #d1000048, 
    #ff000007, 
    #ff000000,
    #ff000000, 
    #d1000048,
    #ff00007a, 
    #970000);
    z-index: -1;
}

.b-template exit-button-square:hover {
    box-shadow: 0 0 5px 1px hsl(0, 100%, 75%);
}

.b-template exit-button-square:hover:after {
    filter: blur(4px);
    background-image: linear-gradient(-45deg, 
    #970000, 
    #ff0000a8, 
    #d1000048, 
    #ff000007, 
    #ff000000,
    #ff000000, 
    #d1000048,
    #ff00007a, 
    #970000);
    box-shadow: 0 0 10px -4px hsl(0, 100%, 57%);
}

.tooltipCanvas {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    border-radius: 8px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
}

.tooltip-standard {
    border: 1px solid var(--tooltip-background-border-color);
    box-shadow: 0 2px 10px -3px rgb(43, 108, 228), 0 2px 5px -1px rgba(39, 133, 221, 0.493);
    background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.062)),
        repeating-linear-gradient(45deg, var(--tooltip-background-color), var(--tooltip-background-color) 5px,
        var(--tooltip-background-pattern-color) 5px, 
        var(--tooltip-background-pattern-color) 10px);
}

.tooltip-warning {
    border: 1px solid var(--tooltip-background-border-color-warning);
    box-shadow: 0 2px 10px -3px rgb(228, 142, 43), 0 2px 5px -1px rgba(221, 121, 39, 0.493);
    background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.062)),
        repeating-linear-gradient(45deg, var(--tooltip-background-color-warning), var(--tooltip-background-color-warning) 5px,
        var(--tooltip-background-pattern-color-warning) 5px, 
        var(--tooltip-background-pattern-color-warning) 10px);
}

.tooltip-error {
    border: 1px solid var(--tooltip-background-border-color-error);
    box-shadow: 0 2px 10px -3px rgb(228, 43, 43), 0 2px 5px -1px rgba(221, 39, 39, 0.493);
    background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.062)),
        repeating-linear-gradient(45deg, var(--tooltip-background-color-error), var(--tooltip-background-color-error) 5px,
        var(--tooltip-background-pattern-color-error) 5px, 
        var(--tooltip-background-pattern-color-error) 10px);
}

.tooltipCanvas tool-text {
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    font-size: 1em;
}

.tooltip-top-warning,
.tooltip-top-error,
.tooltip-top {
    bottom: 120%;
}
.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-background-border-color) transparent transparent transparent;
}
.tooltip-top-warning::after {
    content: "";
    position: absolute;
    top: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-background-border-color-warning) transparent transparent transparent;
}
.tooltip-top-error::after {
    content: "";
    position: absolute;
    top: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--tooltip-background-border-color-error) transparent transparent transparent;
}

.tooltip-bottom-warning,
.tooltip-bottom-error,
.tooltip-bottom {
    top: 120%;
}
.tooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-background-border-color) transparent;
}
.tooltip-bottom-warning::after {
    content: "";
    position: absolute;
    bottom: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-background-border-color-warning) transparent;
}
.tooltip-bottom-error::after {
    content: "";
    position: absolute;
    bottom: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--tooltip-background-border-color-error) transparent;
}


.tooltip-left-warning,
.tooltip-left-error,
.tooltip-left {
    right: 110%;
}
.tooltip-left::after {
    content: "";
    position: absolute;
    left: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--tooltip-background-border-color);
}
.tooltip-left-warning::after {
    content: "";
    position: absolute;
    left: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--tooltip-background-border-color-warning);
}
.tooltip-left-error::after {
    content: "";
    position: absolute;
    left: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent var(--tooltip-background-border-color-error);
}

.tooltip-right-warning,
.tooltip-right-error,
.tooltip-right {
    left: 110%;
}
.tooltip-right::after {
    content: "";
    position: absolute;
    right: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--tooltip-background-border-color) transparent transparent;
}
.tooltip-right-warning::after {
    content: "";
    position: absolute;
    right: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--tooltip-background-border-color-warning) transparent transparent;
}

.tooltip-right-error::after {
    content: "";
    position: absolute;
    right: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--tooltip-background-border-color-error) transparent transparent;
}


.tooltip {
    position: relative;
    display: flex;
}

.tooltip:hover .tooltipCanvas {
    opacity: 1;
}